# Godot 4+ specific ignores
.godot/
addons/godot-jolt/windows/~godot-jolt_windows-x64_editor.dll
addons/godot-jolt/windows/~godot-jolt_windows-x64_editor.dll
.vscode/settings.json
/.godot/editor
/.godot
/.godot
.vscode/launch.json
addons/godot-jolt/windows/~godot-jolt_windows-x64_editor.dll
/maps/func_godot_maps/autosave
